@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
h1, h2, h3, h4, h5, h5, div, p, ul, li, body {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  button a {
    color: white;
  }
  
  p, h1, h2, h3, h4, h5, div, li, ul, a, body {
    margin: 0;
    padding: 0;
  }
 ul {
     display:flex;
 } 
  li {
    list-style: none;
  }
  
  .inner {
    width: 90%;
    margin: 0 auto;
    border:1px solid yellow;
  }
  
  button {
    border-radius: 5px;
  }
  
  select {
    border-radius: 10px;
  }
.title {
    text-align:center;
}

.icon {
    width:50px;
    height:50px;
    border:1px solid blue;
}

.white_btn, .green_btn {
    width: 38%;
    padding: 3% 0;
    color: #2e8b56;
    text-align:center;
  }
  
  .white_btn {
    border: 1px solid #eee;
    background-color: white;
  }
  
  .green_btn {
    border: 0;
    font-weight: bold;
    background-color: #cbe2d5;
  }

  .buttons {
      text-align:center;
  }

  .fill {
      background-color:#2E8B56;
      padding: 2% 8%;
      color:white;
      border:0;
      margin:3% 0;
  }