@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h5,
div,
p,
ul,
li,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
/* header */
header{
  vertical-align: middle;
}
.copyright {
  background-color: #00615b;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  font-weight: light;
  box-sizing: border-box;
}

.header_mobile {
  height: 65px;
  background-color: #00615b;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.mainlogo_img .nav_img{

  min-height: 36px;
  min-width: 200px;
  max-height: 36px;
  max-width: 200px; 
}

.hamburger {
  height: 40px;
  width: 40px;

  cursor: pointer;
}

.header_icon {
  height: 50px;
  width: 50px;
 
}
 
.logo {
  width: 100%;
  height: 100%;
  background-image: url("/images/Foodlet Logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 200px;
  margin-left: 2%;
}
.citySelection {
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 5;
}

#filter {
  position: absolute;
  top: 0;
  width: 100vw;
  left: -5000px;
  transition: left 0.3s ease-in-out;
  right: 0;
  z-index: 20;
  background-color: white;
  height: 100vh;
  display: none;
}

#filter.on {
  display: block;
}

.filterBtn {
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 10;
  background-color: #cbe2d5;
  border: 0;
  color: #00615b;
  padding: 0.5rem 3%;
  margin-left: 1.2rem;
  cursor: pointer;
  box-shadow: 9px 12px 24px #555;
}
.header_desktop {
  display: none;
}
/* header */
button a {
  color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
div,
li,
ul,
a,
body {
  margin: 0;
  padding: 0;
}

/* ul {
    display: flex;
} */

li {
  list-style: none;
}

.inner {
  width: 97vw;
  margin: 0 auto;
  /* border:1px solid yellow; */
}

button {
  border-radius: 5px;
}

select {
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 32px;
}

.icon {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}

.white_btn,
.green_btn {
  width: 38%;
  padding: 3% 0;
  color: #2e8b56;
  text-align: center;
}

.white_btn {
  border: 1px solid #eee;
  background-color: white;
}

.green_btn {
  border: 0;
  font-weight: bold;
  background-color: #cbe2d5;
}

.button_green {
  background-color: #2e8b56;
  border: 0;
  color: white;
  border-radius: 10px;
}

.buttons {
  text-align: center;
}

.fill {
  background-color: #2e8b56;
  padding: 2% 8%;
  color: white;
  border: 0;
  margin: 3% 0;
}

img.round {
  border-radius: 50%;
}

.text_title {
  /* Mobile-Titles */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.text_body_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #323232;
}

.text_color_primary {
  color: #313131;
}

.text_color_secondary {
  color: #616161;
}

.text_color_tertiary {
  color: #00615b;
}

.text_center {
  text-align: center;
}

.text_weight_700 {
  font-weight: 700;
}

/* sidebar */
#sidebar {
  width: 91%;
  background-color: #00615b;
  position: absolute;
  left: -1000px;
  top: 0;
  transition: left 0.3s ease-in-out;
  z-index: 10;
}

#sidebar.on {
  left: 0;
  height: 100%;
}

.sidelogo {
   /* position: relative;
  width: 100%;  */
  padding-top: 5%;
  /* padding-bottom: 15%;  */
} 
.sidenav_img{
      width:260px;
      height:125px;
}
.side_close {
  position: absolute;
  right: 3.2%;
  top: 1%;
  color: blue;
  cursor: pointer;
}

.sidebar_menu {
  display: flex;
  flex-flow: column;
  align-content: flex-start;

}
.sidebar_menu li {
  border-bottom: 2px solid white;
  margin: 0 5%;
  color: white;

  padding-top: 2%;
  padding-bottom: 2%; 
  align-content: left;
}

.sidebar_menu li:last-child {
  padding-bottom: 55%;
  border-bottom: 1px solid #00615b;
}

.sidebar_menu li a {
  color: white;
}
div.sideitemsleft{
  align-content: flex-start;
}
.logoutsidebar {
  display: flex;
  align-items: center;
}
.sidebar_menu img {
  width: 24px;
  height: 24px;
  margin: auto 10px;
  vertical-align: left;
}

li.heart {
  text-align: center;
}

div.heart {
  background: center/cover url("../resources/Icons/Favourite.png") no-repeat;

  width: 13px;
  height: 13px;
  margin: 0 auto;
}

div.heart_active {
  background: center/cover url("../resources/Icons/FavouriteActive.png")
    no-repeat;
}
.header_mobile .menu_item,
.header_desktop .menu_item {
  width: 30px;
  height: 30px;
}

.header_mobile .cart,
.header_desktop .cart {
  background: center/cover url("../resources/Icons/cartWhite.png") no-repeat;
}
.header_mobile .cart_active,
.header_nav .cart_active {
  background: center/cover url("../resources/Icons/cartOrange.png") no-repeat;
}

.header_mobile .notification,
.header_nav .notification {
  background: center/cover url("../resources/Icons/notificationWhite.png")
    no-repeat;
}
.header_mobile .notification_active,
.header_nav .notification_active {
  background: center/cover url("../resources/Icons/notificationOrange.png")
    no-repeat;
}
a {
  font-size: 12px;
  text-decoration: none;
  color: #ccc;
  line-height: 50px;
}

footer {
  background-color: #00615b;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  font-weight: light;
  box-sizing: border-box;
}

/* Desktop */

@media screen and (min-width: 1000px) {
  .text_title {
    font-size: 20px;
  }
  .text_body_text {
    font-size: 20px;
  }
  body {
    width: 100%;
  }
  #sidebar {
    display: none;
  }

  .header_mobile {
    display: none;
  }
/* heder flex */
  .header_desktop {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 50px;
    background-color: #00615b;
    padding-top: 7px;
    /* position:relative; */
  }
  .mainlogo_img{
    margin-left: 2%;
    margin-top: 5px;
  }
  .mainlogo_img .nav_img{

    min-height: 36px;
    min-width: 200px;
    max-height: 36px;
    max-width: 200px; 
  }
  .discover_opt{
    margin-left: 8%;
    color: white;
  }
  .cart_opt{
   margin-left: 4%;
  }
  .orders_opt{
   margin-left: 4%;
  }
  .menu_item {
   margin-left: 45%;
   min-height: 30px;
   min-width: 30px;
   max-height: 30px;
   max-width: 30px; 
  }
  .logout_butt{
   margin-left: 2%;
  }
  .cpagea{
    font-size: 15px;
    font-weight: 100;
  }
/* heder flex */
  .header_nav a {
    color: white;
  }

  .header_nav img {
    width: 50%;
    padding-top: 5%;
  }

  .logouthead {
    padding: 5px 10px;
    background-color: #2e8b56;
    border: 0;
    color: white;
    padding: 5px 20px;
    margin-top: 12%;
    min-height: 40px;
    min-width: 100px;
    max-height: 40px;
    max-width: 100px; 
 
  }
  .header_mobile .menu_item,
  .header_desktop .menu_item {
    width: 32px;
    height: 32px;
  }
}
