
.copyright {
  background-color: #00615b;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  font-weight: light;
  box-sizing: border-box;
}


.header_mobile {
  height: 50px;
  background-color: #00615b;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.header_icon {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.logo {
  width: 80%;
  height: 100%;
  background-image: url("/images/Foodlet Logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size:160px;
  margin-left:2%;
}


#filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  display: none;
}

.filter {
  background-color: #cbe2d5;
  border: 0;
  color: #00615b;
  padding: .5rem 5%;
  margin-left: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.map {
  text-align: center;
  font-size: 20px;
  width: 100%;
  /* height: 400px; */
  border-bottom: 2px solid black;
}

/*select location*/
.search {
  width:100%;
  box-sizing: border-box;
  left:5%;
  top:8%;
  border:1px solid red;
  position:absolute;
}

.location_select {
  width: 70%;
  padding: .5rem 0;
}

.available_title {
  text-align: center;
  padding: 5px 0;
}

.close {
  position: absolute;
  right: 6%;
  top: 5px;
  color: black;
  cursor: pointer;
}

.header_desktop {
  display: none;
}
/*slider*/


.store_list {
  width:100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 20px;
}

.stores_slide {
  width: 500%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  gap:0 .5rem;
}

.store_container {
  width: 100%;
  border:5px solid blue;
  overflow:hidden;
}
  
.store_detail {
  display: flex;
  padding: 5px;
}

.store_detail li:first-child {
  width: 20%;
  border: 1px solid black;
}

.store_detail li:nth-child(2) {
  width: 65%;
  border: 1px solid black;
}

.store_detail li:last-child {
  width: 15%;
  border: 1px solid black;
}

.store_cate, .store_dis {
  font-size: 13px;
}
.store_img {
  width: 50px;
  height:50px;
  border:1px solid blue;
}

.store_cate {
  display: inline-block;
}

.rate {
  font-size: 13px;
  margin-left: 50%;
}

.pickup_detail {
  background-color: #fce1ca;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
}

.clock {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  line-height: 8px;
  margin: 0 5px;
}

.price {
  font-weight: bold;
}
label {
  font-size: 13px;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: #ccc;
  line-height: 50px;
}

#sidebar {
  width: 91%;
  background-color: #cbe2d5;
  position: absolute;
  left: -1000px;
  top: 0;
  transition: left 0.3s ease-in-out;
}

#sidebar.on {
  left: 0;
}

.sidelogo {
  position:relative;
  background-image: url("/images/Foodlet Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding: 10% 0;
}
.side_close {
  position:absolute;
  right:3.2%;
  top:1%;
  color:blue;
  cursor: pointer;

}
.sidebar_menu li {
  border-bottom: 1px solid black;
  margin: 0 5%;
}

.sidebar_menu li:last-child {
  padding-bottom: 55%;
}

.sidebar_menu li a {
  color: black;
}

.sidebar_menu img {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  line-height: 10px;
  margin-right: 10px;
}
/*Desktop version*/
@media (min-width: 1000px) {
  body {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  .header_mobile {
    display: none;
  }

  .header_desktop {
    display: block;
    height: 50px;
    background-color: #00615b;
    position:relative;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
  }

  .header_nav a {
    color: white;
  }

  .header_nav img {
    width: 50%;
    padding-top: 5%;
  }

  .logout {
    padding: 5px 10px;
    background-color: #2e8b56;
    border: 0;
    color: white;
    padding: 5px 20px;
    margin-top: 12%;
  }

  
  

.store_container {
  width: 100%;
  border:5px solid blue;
  overflow:hidden;
}
 .store_list {
    border: 1px solid #ccc;
  }

  .stores_slide {
    width: 125%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */
