/*MAR 15th - by Hyewon */

.copyright {
    background-color: #00615b;
    color: white;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    font-weight: light;
    box-sizing: border-box;
  }
  

  /*city selection*/
  .citySelection {
    width:300px;
    position: absolute;
    top:10%;
    left:20%;
    z-index:5;
    margin-top:2%;
  }
  /*filter*/
  #filter {
    position: absolute;
    top: 0;
    width:100vw;
    left: -5000px;
    transition: left 0.3s ease-in-out;
    right: 0;
    z-index: 20;
    background-color: white;
    height:100vh;
    display: none;
  }
  
  #filter.on {
    display: block;;
  }
  
  .filterBtn {
    position: absolute;
    top:15%;
    right:34%;
    z-index:10;
    background-color: #cbe2d5;
    border: 0;
    color: #00615b;
    padding: .5rem 3%;
    margin-left: 1.2rem;
    cursor: pointer;
    box-shadow: 9px 12px 24px #555;
    border-radius: 5px;
  }
  

  
  /*Map*/
  #map {
    height:430px;
  }
  .map {
    text-align: center;
    font-size: 20px;
    width: 100vw;
    /* height: 400px; */
    border-bottom: 2px solid black;
  }
  
  /*select location*/
  .search {
    width:100%;
    box-sizing: border-box;
    left:5%;
    top:8%;
    border:1px solid red;
    position:absolute;
  }
  
  .location_select {
    width: 70%;
    padding: .5rem 0;
  }
  
  .available_title {
    text-align: center;
    padding: 5px 0;
  }
  
  .close {
    position: absolute;
    right: 6%;
    top: 5px;
    color: black;
    cursor: pointer;
  }
  
  .header_desktop {
    display: none;
  }
  /*slider*/
  
  /* .store_detail p {
    padding-right:1.5rem;
  } */

  .store_list {
    width: 320px;
    height: 144px;
    flex-shrink: 0;

    border: 1px solid #CBE2D5;
    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  
  .stores_slide {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap:0 .5rem;
  }
  
  .store_container {
    width: 100%;
    overflow-x: auto;
  }

  .store_name {
    text-align:left;
  }
    
  .store_detail {
    display: flex;
    /* padding: 5px; */
    margin: 16px 16px 0px 16px;
    justify-content: space-between;
    
  }
  
  /* .store_detail li:first-child {
    width: 72px;
    height: 72px;
    border: 1px solid black;
  }
  
  .store_detail li:nth-child(2) {
    width: 65%;
    border: 1px solid black;
  }
  
  .store_detail li:last-child {
    width: 15%;
    width: 13px;
    border: 1px solid black;
  } */
  
  .store_cate, .store_dis {
    font-size: 13px;
  }
  
  .store_img img {
    width: 72px;
    height: auto;
  }
  
  .store_cate {
    display: inline-block;
    text-align:left;
  }
  
  .rate {
    font-size: 13px;
    margin-left: 50%;
  }
  
  
  .pickup_detail {
    background-color: #fce1ca;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .pickup_detail li * {
    display: inline-block;
  }
  
  .clock {
    height: 100%;
    vertical-align: middle;
    width: 16px;
    height: 16px;
  
    background: center/cover url("../resources/Icons/PickUpTime.png") no-repeat;
  
  }
  
  .price {
    font-weight: bold;
  }
  label {
    font-size: 13px;
  }
  

  a {
    font-size: 12px;
    text-decoration: none;
    color: #ccc;
    line-height: 50px;
  }
  
  
  li.heart {
    text-align: center;
  }
  
  div.heart {
  
    background: center/cover url("../resources/Icons/Favourite.png") no-repeat;
  
    width: 13px;
    height: 13px;
    margin: 0 auto;
  }
  
  div.heart_active {
  
    background: center/cover url("../resources/Icons/FavouriteActive.png") no-repeat;
  
  }

  
  /*Desktop version*/
  @media (min-width: 1000px) {
    .store_container {
      width: 100%;
      overflow-x: auto;
    }
  
  
    .stores_slide {
      width: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
    }
  
  
    /*filter*/
    #filter{
      z-index:20;
      border:1px solid red;
    }

  }
  
  