
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* TYPOGRAPHY  ==============================*/
h1 {
  font-size: 24px;
  color: #313131;
}

.store_name{
  font-size: 16px;
  font-weight: bold;
  color: #313131;
}

.store_cate {
  font-size: 16px;
  color: #313131;
}

.store_dis {
  font-size: 14px;
  color: #616161;
}

.thirdhead {
  font-size: 16px;
  font-weight: 400;
  color:#313131;
  line-height: 150%;
}

/* STYLE ======================================= */
body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

main{
  min-height: calc(100vh - 80px);
  text-align: center;
}

button a {
  color: white;
}

p, h1, h2, h3, h4, h5, div, li, ul, a, body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

button {
  border-radius: 5px;
}

select {
  border-radius: 10px;
}

img.store_img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.copyright {
  background-color: #00615b;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  font-weight: light;
  box-sizing: border-box;
}

.header_mobile {
  height: 50px;
  background-color: #00615b;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.search_icon {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.logo {
  width: 100%;
  height: 100%;
  padding-top: 5px;

  background-repeat: no-repeat;
  background-position: center center;
}

.nav_imgm{
  height: 24px;
  width: 138px;
}

.location_select {
  width: 70%;
  padding: 2% 0;
  margin: 1% 0;
}

#filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  display: none;
}

.filter {
  background-color: #cbe2d5;
  border: 0;
  color: #00615b;
  padding: 2% 6%;
  margin-left: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
}

.available_title {
  text-align: center;
  padding: 5px 0;
}

.close {
  position: absolute;
  right: 6%;
  top: 5px;
  color: black;
  cursor: pointer;
}

.header_desktop {
  display: none;
}

.mainhead {
  padding: 30px 15px;
}
 
.notfic{
    display: flex;
    justify-content: center;
    text-align: left;
    padding-bottom: 30px;
}

/**Switch**/

.switch{
   position: relative;
   display: inline-block;  
   width: 60px;
   height: 30px;
   margin: 0 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #cbe2d5;
    transition: .4s;
    border-radius: 34px;
}
.switch input {display: none;}

.slider:before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 2.5px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: rgb(86, 230, 86);
}
input:checked + .slider:before{
    transform: translateX(30px);
}

/* NOTIFICATION EMPTY ============================================ */
.notification-empty {
  padding:0 15px;
  display:none;
}

.notification-empty img {
  max-width:100%;
  margin: auto;
}

.secondhead{
    padding: 10px;
}

.thirdhead{
    text-align: center;
    padding-bottom: 20px;
}

button{
  display: inline-block;
    border: none;
    border-radius:10px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #2e8b56;
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.store_part{
    text-align: center;
}

#store {
  min-width: 375px;
}

.stores {
  display: grid;
  /* grid-template-columns: 320px; */
  justify-content: center;
  gap: .75rem;
}


.store_detail {
  display: flex;

  min-height: 80px;
  box-sizing: border-box;
  align-items: center;
}

.store_detail li:first-child {
  width: 30%;
  /* text-align: left; */
}

.store_detail li:nth-child(2) {
  width: 65%;
text-align: left;
}

.store_detail li:last-child {
  width: 15%;
} 

.store_cate {
  display: inline-block;
}

.rate {
  font-size: 13px;
  margin-left: 50%;
}

.line{
  border-bottom: 1px solid #68B63E;
  margin-top: .75rem;
  display: block;
}


.clock {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  line-height: 8px;
  margin: 0 5px;
}


label {
  font-size: 13px;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: #ccc;
  line-height: 50px;
}

#sidebar {
  width: 91%;
  background-color: #cbe2d5;
  position: absolute;
  left: -1000px;
  top: 0;
  transition: left 0.3s ease-in-out;
}

#sidebar.on {
  left: 0;
}

.sidelogo {
  position:relative;
  background-image: url("/images/Foodlet Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding: 10% 0;
}
.side_close {
  position:absolute;
  right:3.2%;
  top:1%;
  color:blue;
  cursor: pointer;

}
.sidebar_menu li {
  border-bottom: 1px solid black;
  margin: 0 5%;
}

.sidebar_menu li:last-child {
  padding-bottom: 55%;
}

.sidebar_menu li a {
  color: black;
}

.sidebar_menu img {
  width: 10px;
  height: 10px;
  border: 1px solid red;
  line-height: 10px;
  margin-right: 10px;
}
.nextarrow{
  color: black;

}

@media (min-width: 1000px) {
  body {
    width: 100%;
  }

  #sidebar {
    display: none;
  }

  .header_mobile {
    display: none;
  }

  .header_desktop {
    display: block;
    height: 50px;
    background-color: #00615b;
  }

  .header_nav {
    display: flex;
    justify-content: space-between;
  }

  .header_nav a {
    color: white;
  }

  .header_nav img {
    width: 50%;
    padding-top: 5%;
  }

  .logout {
    padding: 5px 10px;
    background-color: #2e8b56;
    border: 0;
    color: white;
    padding: 5px 20px;
    margin-top: 12%;
  }

  .search {
    text-align: center;
  }

  .location_select {
    padding: 1% 0;
    width: 45%;
  }
  .noti{
    padding-right: 280px;
}

  .stores {
  
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    gap: 1.2rem;
  }

  .notification-empty img {
    max-width:320PX;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */
