.order_review {
    display:block;
}

.order_review>li>img {
    width:30px;
    height:30px;
}

.order_review>li {
    width:70% !important;
    margin-left:0 !important;
}

.menu_detail>li:nth-child(2){
    width:70%;
}

.menu_detail>li:nth-child(3){
    margin-left:0 !important;
}


.price {
    text-align:right;
}

.store_img {
    text-align: center;
}

.store_img img {
    width: 88px;
    height: 88px;
}