@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.tagline{
    display: none;
}
/* git */
/* #minimumsix{
    margin-bottom: 15px;
} */
body {
    margin: 0rem;
    /* text-align: center; */
    height:100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.loginMain, .onboarding-content {
    display: flex;
    flex-grow: 3;
    flex-flow: column nowrap;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}
.buttononboard{
    background: #2E8B56;
    color: white;
    font-weight: 600;
    font-size: 16px;
    width: 174px;
    margin: 23px auto;
    border-radius: 10px;
}
.buttononboard a{
    margin-left: 40px;
}

header {
    box-sizing: border-box;
}

.site-branding {
    background: #00615B;
    color: white;
    height:70px;
    box-sizing: border-box;
    margin-top:4%;
}

h1 {
    margin: 0;
    text-transform: uppercase;

    font-weight: 700;
    font-size: 24px;
    letter-spacing: -2%;

    color: #51CF67;
    display: none;
}

.site-branding img {
    width: 223px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -2%;
    margin: 0;
}




.name-field {
    display:block;
}


.input-field #email {
    padding:3%;
}
.loginButton {
    background: #2E8B56;
    color: white;
    font-weight: 600;
    font-size: 16px;

    width: 174px;
    /* padding: px; */
    margin: 23px auto;
    border-radius: 10px;
}

#loginCustomer label {
    display:block;
    text-align:left;
}

.loginButton a {
    color: white;
    font-weight: 600;
    font-size: 16px;
}



a {

    /* color: #F19737; */
    font-weight: 600;
} 

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.aside {
    display: none;
}
.aside img{
    width: 70%;
}

.desktop-view {
   min-height: 96vh;
}


.bottom-link a{
    color: #F19737;
}

/*  FORMS */
form {
    padding: 0 18px;
    margin: auto;
    max-width: 500px;
}

form input {
    background: #EEF2F5;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 40px;
}

form input:focus{
    border: 2px solid #51CF67;
}

form input[type=checkbox] {
    width: 24px;
    height: 24px;
}

.login-form {
    margin-top:5%;
}
.input_field #email{
    padding:0;
}

.checkbox {
    text-align: left;
    display: flex;
}

.checkbox label {
    font-weight: 300;
}

.inside-form {
    display: flex;
    flex-flow: column nowrap;

    margin: 12px 0rem;
}

label {
    text-align: left;

    font-size: 16px;
    font-weight: 700;
}



/*  BOTTOM LINK */
.bottom-link {
    margin: 1.5rem auto;
}

.bottom-link a {
    text-decoration: none;

}
.bottom-link .plbutt {
    margin-left: 50px;

}

.bottom-link p {
    margin: 0;
}


.onboarding {
    display: none;
}

.onboarding-content {
    padding: 0 20%;
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    justify-content:center;
    
}


.partner-create-account {
    padding-top:8%;
    height:200vh;
}


.partner-login-forgetpassword {
    text-align: right;
    display: block;
}




.partner-signup-coverimage {
    background: url("https://picsum.photos/2500/500/?random=7");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 160px;
}

.partner-signup-coverimage span {
    display: block;
    text-align: right;
    font-size: 24px;
    padding: 12px;
    text-shadow: 0 0 10px #F19737;
}

.partner-signup-editpicture {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    position: relative;
    top: 20px;

}

.partner-signup-editpicture img {
    width: 121px;
    border-radius: 50%;
}

#mainArea {    
    /* min-height: 100vh; */
    display: flex;   
    flex-direction: column;
}

main {
    grid-row: 2/3;
    flex-grow: 1;
    /* display: flex;
    flex-flow: column nowrap; */
}

#partner_signup_storetype, #partner_signup_city, #pickup_time {
    color: #616161;
    background: #EEF2F5;
    border: none;
    width: 100%;
    border-radius: 10px;
    height: 40px;
}

#partner_signup_storetype:focus, #partner_signup_city:focus{
    border: 2px solid #CBE0D5;
} 


#login-signup-button a {
    text-decoration: none;
}
.signupBtn{
    padding:2% 12%;
}
/* HOVER */

#login-signup-button a:hover {
    color: white; 
}

#login-signup-button:hover, #partnerSignupButton:hover {
    background-color: #62A880;
}

.bottom-link a:hover {
    text-decoration: underline;
}



@media screen and (min-width: 1000px){
    .aside {
        display: flex;
        flex-direction: column;
        /* background: url("https://picsum.photos/2500/2500/?random=3"); */
        background-size: cover;
        grid-row: 1/3;
        background-color: #CBE1D5;
        align-items: center;

    }


    .aside .maintainImg {
        width:100%;
        height:100%;
        background-image: url(/resources/Images/Easy\ to\ Maintain.png);
        background-repeat: no-repeat;
        position: fixed;
            /* background-attachment: fixed; */
            background-position: left top;
            
    }

    
    .aside-content {
        position:fixed;
    }
    .aside-content img {
        width:90%;
        height:90%;
    }

    .desktop-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .desktopP-view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .partnerlogin-view {
        grid-template-rows: 1fr 10fr;
    }
    h2 {
        font-size: 32px;
    }

    .partner-signup-coverimage {
        width: 50vw;
        height: 200px;
    }


    .site-branding img {
        width: 443px;
    }


    
    .aside-title {
    color: #275F5B;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -2%;
    margin-bottom: 0;
    }

    .partner-title {
        
        position:absolute;
        left:10%;
        top:80%;
    }
    .partner-text {
        position:absolute;
        left:14%;
        top:89%;
    }

    .aside-text {
        font-weight: bolder;
        font-size: 18px;
        margin: 0 10%;
         
    }

    .tagline {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

 .requiredField {
     text-align: right;
    font-style: italic;
 }

 div > ::placeholder {
     padding-left: .75rem;
 }
    
 
     
}