@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
} 

nav ul,
h1 {
    display: none;
}

body {
    margin: 0;
}

i {
    font-size: 24px;
}

a {
    color: #F38814;
}


/*  STORE BASIC INFO */

.storeinfo-images {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
}

.partner-signup-coverimage1 {
    grid-column: -1/1;
    grid-row: 1/2;
}

.partner-signup-profilepicture img {
    width: 84px;
    height: 84px;
    border: #FAFCFE solid 2px;
    border-radius: 50%;
}

.partner-signup-profilepicture {
    grid-row: -1/1;
    grid-column: -1/1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/*  STORE BASIC INFO */

.storeinfo-basicinfo {
    text-align: center;
    margin: 0 13px;
}

.storeinfo-basicinfo h2 {
    font-size: 32px;
    font-weight: 700;
    color: #2E8B56;
    margin: 0;
    margin-bottom: 30px;
}

#partner-signup-storetype-output {
    color: grey;
}

main i {
    font-size: 21px;
    color: #2E8B56;
}

i.fa-star,
i.fa-smile {
    color: #F38814;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
    font-weight: 500
}

.storeinfo-basicinfo p {
    margin: 0;
}

#pickup-time-output,
#partner-signup-storeaddress-output {
    grid-column: -1/1;
    text-align: left;
}
.storeinfo-availablemeallist h3 {
    font-size: 16px;
    font-weight: 700;

    margin: 0;
    text-align: left;
}


/*  AVAILABLE MEAL LIST */

#eachmeal {
    border-top: #51CF67 solid 1px;
    /* border-bottom: #51CF67 solid 1px; */
    padding: 15px 0;
    margin: 5px 15px;
    text-align: center;
    display: grid;
    flex-flow:column nowrap;
    grid-gap: 1rem;
    justify-content: center;
    /* align-items:center; */
    /* min-width: 352px;
    max-width: 352px; */
}



/* .storeinfo-availablemeallist .two-columns {
    width: 65vw;
} */

#eachmeal form {
    text-align: right;
}

#eachmeal form button {
    margin: 5px;
}

.availablemeal {
    padding: 15px;
    text-align: left;
    border: 1px solid #CBE2D5;
    border-radius: 10px;
    height: 100%;
    min-width: 352px;
    max-width: 352px;
    /* align-self: center; */
}

.availablemeal p, .availablemeal span {
    margin: 0.25rem 0;
    font-size: 14px;
}

.availablemeal i {
    margin: 5px;
}

.availablemeal img{
    width: 72px;
    height: 72px;

    border-radius: 50%;
}

.availablemeal input {
    width: 39px;
    height: 32px;
    
    background: #ECF1F4;
    border: none;
    border-radius: 10px;
}
form.formclass{
    min-width:150px;
}
.mealinfo-layout {
    /* display: flex; */
    display: grid;
    grid-template-columns: 72px 3fr;
    align-items: center;
}

.mealinfo-text {
    margin: 0 0 0 15px;
}

#menu-name {
    font-size: 16px;
    font-weight: 700;
}

#original-price-output, #sale-price-output {
    font-size: 16px;
}

#original-price-output {
    color: gray;
    text-decoration: line-through #F38814 1px;
}

#sale-price-output {
    font-weight: 700;
}

.minusbutton, .plusbutton {
    border-radius: 100%;
    min-width: 22.25px;
    max-width: 22.25px;
    height: 22.25px;
}

.minusbutton {
    color: gray;
    border: gray 1px solid;
}

.plusbutton {
    color: white;
    border: none;
    background: #2E8B56;
}

#storeinfo-addtocartbutton {
    display: inline-block;
    border: none;
    border-radius:10px;
    padding: 1rem 2rem;
    margin: auto;
    width:200px;
    text-decoration: none;
    background: #2e8b56;
    color: #ffffff;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 30px;

    /* color: white;
    border: none;
    border-radius: 10px;
    background: #2E8B56;
    
    width: 187px;
    height: 48px;
    margin: 9px; */

}

#storeinfo-quantity {
    text-align: center;
}

#updated-availability-output {
    display: flex;
    align-items: center;
    flex: nowrap;
}

.dietary {
    color: #2E8B56;
    font-weight: 700;
    font-size: 16px;
}
/*  Review Section */

.storeinfo-reviews {
    margin: 0 13px;
    padding-bottom: 10px;
}

.storeinfo-reviews h3 {
    font-size: 16px;
    font-weight: 700;
}

.storeinfo-reviews i {
    margin: 0 2.5px;
}

.storeinfo-reviews p {
    font-size: 16px;
    margin: 0;
    display: flex;
    gap: 5px;
}

.storeinfo-reviews a {
    margin-left: 36px;
}


/*  FOOTER */

footer {
    background-color: #00615b;
    color: white;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    font-weight: light;
    box-sizing: border-box;
}


/*  DESKTOP SCREEN */

@media screen and (min-width: 1000px) {
    .storeinfo-basicinfo,
    .storeinfo-availablemeallist,
    .storeinfo-reviews {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    /*  STORE BASIC INFO */
    .storeinfo-images {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 1fr;
    }
    
    .partner-signup-coverimage1 {
        grid-column: 1/1;
        grid-row: 1/2;
    }
    
    .partner-signup-profilepicture img {
        width: 84px;
        height: 84px;

        border-radius: 50%;
    }
    
    .partner-signup-profilepicture {
        grid-row: 4/1;
        grid-column: 1/1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
/* //////////////////////////////////////////////// */
    .partner-signup-coverimage1 {
        height: 424px;
    }
    .partner-signup-profilepicture img {
        width: 120px;
        height: 120px;
    }
    /* .storeinfo-basicinfo {
        padding-bottom: 36px;
    } */
    .storeinfo-basicinfo .two-columns {
        /* padding: 0 50px; */
        text-align: left;
    }
    .storeinfo-basicinfo h2 {
        font-size: 32px;
    }
    .storeinfo-basicinfo p {
        font-size: 20px;
    }
    #pickup-time-output {
        grid-column: 1/2;
    }
    #partner-signup-storeaddress-output {
        grid-column: 2/3;
    }
    /*  AVAILABLE MEALS */
    #eachmeal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #eachmeal h3, #storeinfo-addtocartbutton {
        grid-column: -1/1;
    }

    #eachmeal h3 {
        font-size: 20px;
        /* margin: 30px 0; */
    }

    #storeinfo-addtocartbutton {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        font-size: 20px;
    }

    .menu-details-output {
        max-width: 324px;
        margin: 24px;
    }

    .availablemeal p, .availablemeal span {
        font-size: 16px;
    }

    #original-price-output, #sale-price-output, #menu-name {
        font-size: 20px;
    }



    /*  REVIEW SECTION */
    .storeinfo-reviews {
        padding: 32px 0 80px 0;
    }
    .storeinfo-reviews h3,
    .storeinfo-reviews p {
        font-size: 20px;
    }
    .storeinfo-reviews a {
        font-size: 16px;
    }
}