body {
    width:100%;
}
.inner {width:480px; margin:0 auto;}
.clear::after {content:""; clear:both; display:block;}

input {
    background-color:#ccc;
    border:0;
    padding:1%;
    border-radius: 10px;
    width:100%;
}