body {
    width:100%;
}

.inner { 
    padding:0 8%;
    // border:1px solid yellow;
}


input {
    background-color:#ccc;
    border:0;
    margin-bottom:5%;
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;
    width:100%;
}

a {
    text-decoration: none;
}
.caption {
    text-align:right;
}

.check {
    font-size:13px;
    line-height:3px;
    margin:4% 0;
}

button {
    margin:10% auto;
    display:block;
    padding: 10px 70px;
    text-align:center;
    border:0;
    border-radius: 14px;
    background-color:#ccc;
    font-weight:bold;
}


.question {
    display:inline-block;

}

.btm {
    text-align:center;
    padding:30% 0 15% 0;
}


.click {
    font-weight:bold;
    padding:0 7px;
}

/*sign up screen*/

select {
    width:100%;
    border:0;
    background-color:#ccc;
    padding:10px 0;
    border-radius: 10px;
}
.btm2 {
    text-align:center;
}
/*complete screen*/
.complete_icon {
    height:100px;
    width:100px;
    border:1px solid black;
    margin:20% auto;
}
.complete_t {
    text-align:center;
}
.complete_p {
    text-align:center;
}

.start_btn {
    margin-top:15%;
    margin-bottom:20%;
}


/*footer*/
footer {
    height:30px;
    background-color:#ccc;
}
.copyright {
    text-align:center;
    font-size:10px;
    line-height:30px;
}


